.table__statusActive {
  padding: 4px 18px;
  color: #008767;
  background-color: #16c09861;
  width: 80px;
  height: 29px;
  border: 1px #00b087 solid;
  border-radius: 4px;
  margin: 0 auto;
}
.table__statusInActive {
  padding: 4px 10px;
  color: #df0404;
  background-color: #ffc5c5;
  width: 80px;
  height: 29px;
  border: 1px #df0404 solid;
  border-radius: 4px;
  margin: 0 auto;
}
